@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-purple: #9667E0;
    --color-light-purple: #EBD9FB;
    --color-black: #000;
    --color-black2: #3C3A3B;
    --color-white: #fff;
    --color-white2: #ffff;
    --color-gray: #7d7d7d;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

ul {
    margin-bottom: 0rem;
}

body {
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large


@mixin h6 {
    color: var(--color-purple);
    font-weight: 500;
    font-size: 1.1rem;

    @media screen and(max-width:$lg-breakpoint) {
        font-size: 1rem;
    }
}

@mixin h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-black);

    @media screen and(max-width:$lg-breakpoint) {
        font-size: 1.5rem;
    }
}

@mixin title-text {
    max-width: 28rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-gray);

    @media screen and(max-width:$lg-breakpoint) {
        font-size: 0.8rem;
    }
}

@mixin card {
    box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 4%);
    padding: 2rem;
    border: none;
    height: 18rem;
    border-radius: 0;
    position: relative;
    z-index: 99;

    @media screen and(max-width:$lg-breakpoint) {
        padding: 1rem;
    }

    .card-body {
        padding: 0rem;
    }

    .icon {
        margin-bottom: 1.5rem;
        width: 4rem;
        height: 4rem;
        line-height: 75px;
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        background-color: #ffffff;
        font-size: 30px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
        box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);

        @media screen and(max-width:$lg-breakpoint) {
            width: 3rem;
            height: 3rem;
        }

        img {
            max-width: 2rem;
            object-fit: cover;

            @media screen and(max-width:$lg-breakpoint) {
                max-width: 1.5rem;
            }
        }
    }

    h6 {
        color: var(--color-black);
        font-size: 1.3rem;
        font-weight: 500;

    }

    p {
        color: var(--color-black);
        font-weight: 300;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    a {
        color: var(--color-black);
        font-weight: 500;
        font-size: 0.8rem;
    }

    &:hover {
        color: var(--color-white);

        .icon {
            border-radius: 50%;
        }

        a,
        p,
        h6 {
            color: var(--color-white);
        }

        &::before {
            visibility: hidden;
            opacity: 0;
        }

        &::after {
            visibility: visible;
            opacity: 0.8;
        }
    }

    &::before {
        content: "";
        background-color: var(--color-white2);
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s all;
    }

    &::after {
        content: "";
        background-color: #9567e0c7;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s all;
    }
}

.top-header {
    background-color: var(--color-purple);
    padding: 0.1rem 0rem;

    .dropdown {

        .btn {
            font-weight: 400;
            color: var(--color-white);

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        .dropdown-menu {
            right: 0rem;
            min-width: 2rem;
            padding: 0.3rem 0rem;
            margin: 0.1rem 0rem 0rem 0.7rem !important;
            z-index: 99999999;

            li {
                margin-right: 0rem;

                a {
                    text-align: center;
                    font-weight: 500;
                    color: var(--color-black);

                    &:hover {
                        background-color: transparent;
                        color: var(--color-purple);
                    }
                }
            }
        }
    }

    ul {
        padding-left: 0rem;

        li {
            margin-right: 1rem;

            a {
                font-size: 0.8rem;
                text-decoration: none;
                color: var(--color-white);
                font-weight: 400;
                transition: 0.3s all;

                &:hover {
                    color: var(--color-light-purple);
                }

                i {
                    margin-right: 0.3rem;

                }
            }
        }

        &.social-media {
            li {
                a {

                    i {
                        color: var(--color-white);

                        &:hover {
                            color: var(--color-purple);
                        }
                    }
                }
            }
        }
    }
}

header {
    width: 100%;
    background-color: var(--color-white);
    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s;
    box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 4%);


    .menu-toggle {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }

    .collapse {
        @media screen and(max-width:$lg-breakpoint) {
            position: fixed;
            height: 100vh;
            width: 0;
            background: var(--color-white);
            top: 5rem;
            left: 0;
            right: 0;
            z-index: 99999;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all;
            display: block !important;
        }

        &.active {
            padding: 0rem 1rem;
            opacity: 9 !important;
            visibility: visible !important;
            width: 100% !important;
        }

    }

    .navbar-nav {
        .nav-item {

            .nav-link {
                color: var(--color-black);
                font-weight: 500;
                font-size: 1rem;
                padding: 1.7rem 0.8rem;

                @media screen and(max-width:$lg-breakpoint) {
                    padding: 0.5rem 0rem;
                }

                &:hover {
                    color: var(--color-purple);
                }

                &.active {
                    color: var(--color-purple);
                }
            }

            &:hover {
                .dropdown-menu {
                    @media screen and (min-width:$lg-breakpoint) {
                        display: block;
                    }
                }
            }

            .dropdown-menu {
                border-radius: 0rem;
                border-top: 3px solid var(--color-purple);

                @media screen and(max-width:$lg-breakpoint) {
                    position: relative;
                    overflow: scroll;
                    height: 12rem;
                    box-shadow: none !important;
                    border: none;
                    padding-left: 0rem;
                }

                li {
                    a {
                        font-size: 0.9rem;
                        font-weight: 500;

                        @media screen and(max-width:$lg-breakpoint) {

                            padding-left: 0rem;
                        }

                        &:hover {
                            background-color: transparent;
                            color: var(--color-purple);
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        img {
            max-width: 6rem;
        }
    }

}

.banner {
    position: relative;

    .swiper {
        width: 100%;

        .swiper-button-next,
        .swiper-button-prev {
            color: var(--color-purple);
            background-color: var(--color-white);
            border-radius: 50%;
            padding: 1.3rem;
            box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 4%);

            &::after {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: var(--color-purple);
            background-color: var(--color-white);
            border-radius: 50%;
            padding: 1.3rem;
            box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 4%);

            &::after {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--color-white);
            min-height: 85vh;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: left;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            @media screen and(max-width:$sm-breakpoint) {
                background-position: right !important;
                min-height: 60vh;
            }

            .content {
                max-width: 40rem;

                @media screen and(max-width:1440px) {
                    max-width: 35rem;
                }

                @media screen and(max-width:$lg-breakpoint) {
                    max-width: 30rem;
                }

                @media screen and(max-width:$sm-breakpoint) {
                    max-width: 20rem;
                }

                h6 {
                    color: var(--color-purple);
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin-bottom: 1rem;

                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                }

                h1 {
                    color: var(--color-black);
                    font-size: 4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;

                    @media screen and(max-width:1440px) {
                        font-size: 3rem;
                    }

                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 2rem;
                    }
                }

                p {
                    color: var(--color-black);
                    font-size: 1rem;
                    font-weight: 300;

                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }
                }

                .button-area {
                    margin-top: 2rem;
                    flex-wrap: wrap;
                    display: flex;

                    a {
                        padding: 0.5rem 1.5rem;
                        background: var(--color-purple);
                        border-radius: 30px;
                        color: var(--color-white);
                        font-size: 1rem;
                        font-weight: 500;
                        transition: 0.3s all;

                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 0.8rem;
                        }

                        &:hover {
                            background-color: var(--color-white);
                            color: var(--color-black);
                        }

                        i {
                            margin-left: 0.5rem;
                        }

                        &:nth-child(2) {
                            margin-left: 1rem;
                            background-color: var(--color-white);
                            color: var(--color-black);

                            @media screen and(max-width:320px) {
                                margin-left: 0rem;
                                margin-top: 0.5rem;
                            }

                            &:hover {
                                background-color: var(--color-light-purple);
                                color: var(--color-white);
                            }

                        }
                    }
                }

            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.sub-banner {
    min-height: 30vh;
    position: relative;
    z-index: 99;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.297);
        z-index: -1;
    }

    h2 {
        color: var(--color-white);
        font-weight: 400;
        font-size: 2rem;
    }

    ul {
        padding-left: 0rem;

        li {
            color: var(--color-white);
            font-weight: 300;
            font-size: 0.8rem;

            a {
                color: var(--color-white);
                font-weight: 300;
            }

        }

        i {
            font-size: 0.7rem;
            margin: 0rem 0.3rem;
            color: var(--color-white);
        }
    }
}

.about {
    .container-fluid {
        @media screen and(min-width:$lg-breakpoint) {
            padding-left: 0rem;
        }
    }

    img {
        @media screen and(max-width:1024px) {
            height: 100%;
        }
    }

    .content {
        padding: 3rem 0rem 0rem 1rem;

        @media screen and(max-width:$lg-breakpoint) {
            padding: 2rem 0rem 0rem 0rem;
        }

        h6 {
            @include h6;
            color: var(--color-black) !important;
        }

        h2 {
            @include h2;
            color: var(--color-purple) !important;
        }

        .text-area {
            width: 100%;
            margin-top: 1rem;

            @media screen and(max-width:$lg-breakpoint) {
                margin-top: 0.5rem;
            }

            p {
                max-width: 34rem;
                font-weight: 300;
                font-size: 0.9rem;
                color: var(--color-gray);

                @media screen and(max-width:$lg-breakpoint) {
                    font-size: 0.8rem;
                }
            }
        }

        ul {
            padding-left: 0rem;
            margin-top: 0.6rem;

            li {
                position: relative;
                margin-bottom: 0.5rem;

                &:hover {
                    i {
                        border-radius: 50%;
                    }
                }

                span {
                    font-size: 0.9rem;
                    color: var(--color-black);

                    @media screen and(max-width:$lg-breakpoint) {
                        font-size: 0.8rem;
                    }
                }

                i {
                    margin-right: 0.5rem;
                    width: 1.8rem;
                    height: 1.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
                    background-color: var(--color-light-purple);
                    color: var(--color-purple);
                    font-size: 0.8rem;
                    transition: 0.3s all;

                    @media screen and(max-width:$lg-breakpoint) {
                        width: 1.3rem;
                        height: 1.3rem;
                        font-size: 0.7rem;
                    }

                }
            }
        }

        a {
            padding: 0.5rem 1rem;
            background: var(--color-purple);
            border-radius: 30px;
            color: var(--color-white);
            font-size: 0.9rem;
            font-weight: 500;
            transition: 0.3s all;

            @media screen and(max-width:1024px) {
                margin-top: 1rem;
                font-size: 0.8rem;
            }

            &:hover {
                background-color: var(--color-black);
                color: var(--color-white);
            }

            i {
                margin-left: 0.5rem;
            }

        }
    }
}

.services {
    padding: 6rem 0rem;
    position: relative;
    background-color: #f4f9fd;

    @media screen and(max-width:$lg-breakpoint) {
        padding: 3rem 0rem;
    }

    .title {
        margin-bottom: 3rem;

        h6 {
            @include h6();
        }

        h2 {
            @include h2();
        }

        .text-area {
            width: 100%;
            text-align: center;
            margin-top: 1rem;

            p {
                @include title-text;
            }
        }
    }

    .card {
        @include card;
    }
}

.my-vission {
    position: relative;
    padding: 5rem 0rem;

    @media screen and(max-width:$sm-breakpoint) {
        padding: 3rem 0rem;
    }

    .box {
        margin-bottom: 1.875rem;
        background-color: var(--color-white);
        -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
        box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
        padding: 1.563rem 1.25rem;
        position: relative;
        z-index: 1;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        overflow: hidden;

        &:hover {
            transform: translateY(-8px);

            &::before {
                width: 100%;
            }

            &::after {
                left: -3.125rem;
                bottom: -3.125rem;
            }

            .icon {
                background-color: var(--color-light-purple);
                color: var(--color-white);
            }

            h3 {
                color: var(--color-white);
            }

            p {
                color: var(--color-white);

            }
        }

        &::before {
            width: 0;
            height: 100%;
            z-index: -1;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: var(--color-purple);
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            border: 10px solid var(--color-white);
            left: -5rem;
            bottom: -5rem;
            border-radius: 50%;
            z-index: -1;
            opacity: 0.15;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .icon {
            margin-bottom: 1.25rem;
            text-align: center;
            width: 3rem;
            height: 3rem;
            line-height: 60px;
            border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
            background-color: var(--color-purple);
            color: var(--color-white);
            font-size: 1.25rem;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        h3 {
            transition: 0.5s;
            position: relative;
            font-size: 1.3rem;
            font-weight: 700;
            color: var(--color-black);

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1rem;
            }
        }

        p {
            transition: 0.5s;
            line-height: 1.8;
            font-size: 0.8rem;
            color: var(--color-black2);
            margin: 0.75rem 0rem 0.75rem 0rem;

        }
    }

}

.instagram-posts {

    position: relative;
    padding: 4rem 0rem;

    .title {
        margin-bottom: 3rem;

        h6 {
            @include h6;
        }

        h2 {
            @include h2;
        }

    }

    .swiper {
        width: 100%;
        height: 100%;


        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .card {
                border-radius: 0;

                &:hover {
                    .img-wrapper-top {
                        &::before {
                            visibility: visible;
                            opacity: 8;
                        }

                        .icon {
                            visibility: visible;
                            opacity: 8;
                        }
                    }

                }

                .icon {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    color: var(--color-white);
                    font-size: 3rem;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s all;
                }

                .img-wrapper-top {
                    z-index: 99;
                    position: relative;

                    &:before {
                        content: "";
                        background-color: #9567e0b6;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s all;
                    }
                }



                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0;
                }

                p {
                    color: var(--color-black);
                    font-size: 0.8rem;
                }

                .profile {
                    .img-wrapper {
                        text-align: start;

                        img {
                            border-radius: 50%;
                            max-width: 3rem;
                            display: inline-block;
                        }
                    }



                    .name-area {
                        margin-left: 0.5rem;

                        .name {
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: var(--color-black);

                        }

                        .user-name {
                            font-size: 0.8rem;
                            font-weight: 400;
                            color: var(--color-black);

                        }
                    }

                    .instagram-icon {
                        img {
                            max-width: 1rem;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            position: relative;
            bottom: 0rem;
            margin-top: 3rem;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--color-purple);
            width: 1rem;
            height: 1rem;
        }
    }
}

.services-page{
    position: relative;
    padding: 5rem 0rem;
    background-color: #f4f9fd;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 3rem 0rem;
    }

    .title {
        margin-bottom: 3rem;

        h6 {
            @include h6();
        }

        h2 {
            @include h2();
        }

        .text-area {
            width: 100%;
            text-align: center;
            margin-top: 1rem;

            p {
                @include title-text;
            }
        }
    }
    .card{
        @include card()
    }
}

.contact {
    position: relative;
    padding: 5rem 0rem;

    @media screen and(max-width:$sm-breakpoint) {
        padding: 3rem 0rem;
    }

    .title {
        margin-bottom: 3rem;

        h6 {
            @include h6();
        }

        h2 {
            @include h2();
        }

        .text-area {
            width: 100%;
            text-align: center;
            margin-top: 1rem;

            p {
                @include title-text;
            }
        }
    }

    .contact-form {
        .form-group {
            input {
                height: 3.5rem;

                @media screen and(max-width:$sm-breakpoint) {
                    height: 3rem;
                }
            }

            .form-control {
                border: none;
                -webkit-box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%) !important;
                box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%) !important;
                padding: 0.5rem 15px;
                font-size: 0.9rem;
                line-height: initial;
                color: var(--color-black);
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
                border-radius: 0;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }

            textarea {
                resize: none;
            }
        }

        .btn {
            box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 50%) !important;
            border: none;
            padding: 0.8rem 1.5rem;
            border-radius: 3rem;
            background-color: var(--color-purple);
            color: var(--color-white);
            font-weight: 500;
            transition: 0.3s all;

            @media screen and(max-width:$sm-breakpoint) {
                padding: 0.5rem 1rem;
                font-size: 1rem;
            }

            i {
                margin-left: 0.5rem;
            }

            &:hover {
                box-shadow: none;
                background-color: var(--color-black) !important;
            }
        }
    }

    .contact-info {
        position: relative;

        @media screen and(max-width:$lg-breakpoint) {
            margin-top: 3rem;
        }

        ul {
            padding-left: 0rem;

            li {
                margin-bottom: 1.5rem;

                &:hover {
                    span {
                        color: var(--color-purple) !important;
                    }
                }

                .icon {

                    border: 1px dashed var(--color-purple);
                    width: 5rem;
                    height: 5rem;
                    color: var(--color-white);
                    border-radius: 50%;
                    font-size: 1.4rem;
                    text-align: center;
                    position: relative;
                    z-index: 1;

                    @media screen and(max-width:$lg-breakpoint) {
                        width: 3rem;
                        height: 3rem;
                        font-size: 0.9rem;
                    }


                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: var(--color-purple);
                        border-radius: 50%;
                        margin: 6px;
                        -webkit-box-shadow: 0 1px 3px 1px #9667E0;
                        box-shadow: 0 1px 3px 1px var(--color-purple);
                        z-index: -1;
                        transition: 0.3s all;
                    }
                }

                .content {
                    font-size: 0.8rem;
                    max-width: 16rem;
                    margin-left: 1.5rem;
                    color: var(--color-black2);

                    @media screen and(max-width:320px) {
                        &:nth-child(1n) {
                            margin-left: 0.5rem !important;
                            margin-top: 0.5rem;
                        }
                    }

                    span {
                        display: block;
                        margin-bottom: 8px;
                        color: var(--color-black);
                        font-size: 1.1rem;
                        font-weight: 600;

                        @media screen and(max-width:$lg-breakpoint) {
                            font-size: 1rem;
                        }
                    }

                    p {
                        margin-bottom: 0rem;
                        color: var(--color-black2);
                        font-weight: 300;
                    }

                    a {
                        color: var(--color-black2);
                        font-weight: 300;

                        &:hover {
                            color: var(--color-purple);
                        }
                    }
                }
            }
        }
    }

}

.map {
    height: 40vh;
    width: 100%;
    position: relative;

    iframe {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

footer {
    background-color: var(--color-black);

    .footer-top {
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.509);
        padding: 2.5rem 0rem;

        @media screen and(max-width:$lg-breakpoint) {
            padding: 1.5rem 0rem;
        }

        h3 {
            color: var(--color-white);
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p {
            color: var(--color-white);
            max-width: 25rem;
            font-weight: 300;
            font-size: 0.9rem;

            @media screen and(max-width:$lg-breakpoint) {
                font-size: 0.8rem;
            }
        }

        .form {
            position: relative;

            .form-control {
                display: block;
                width: 100%;
                height: 60px;
                line-height: initial;
                border: none;
                background-color: var(--color-white);
                border-radius: 70px;
                color: var(--color-black);
                outline: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 7rem;
                padding-left: 25px;
                font-size: 1rem;

                @media screen and(max-width:$lg-breakpoint) {
                    height: 50px;
                    font-size: 0.9rem;
                    margin-top: 1rem;
                }
            }

            button {
                position: absolute;
                right: 7.5px;
                top: 7.5px;
                border: none;
                line-height: initial;
                text-transform: uppercase;
                border-radius: 50px;
                padding: 0.5rem 1.5rem;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                background: var(--color-purple);
                height: 45px;
                color: var(--color-white);
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-black);
                    color: var(--color-white);
                }

                @media screen and(max-width:$lg-breakpoint) {
                    height: 35px;
                }

            }
        }
    }

    .footer-inner {
        padding-top: 3rem;

        p {
            color: var(--color-white);
            font-size: 0.8rem;
            margin: 1rem 0rem;
        }

        .img-wrapper {
            img {
                max-width: 8rem;

                @media screen and(max-width:$xl-breakpoint) {
                    max-width: 6rem;
                }
            }
        }

        .social-media {
            margin-top: 1.5rem;

            @media screen and(max-width:$lg-breakpoint) {
                margin-bottom: 1rem;
            }

            li {
                a {
                    margin-right: 1.2rem;
                    border: 1px solid var(--color-white);
                    padding: 0.5rem;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    &:hover {
                        border: 1px solid var(--color-purple);
                    }

                    @media screen and(max-width:$lg-breakpoint) {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                i {
                    font-size: 0.7rem;
                }
            }
        }

        .col-md-4 {
            align-items: flex-start !important;
            justify-content: flex-start !important;
            margin-bottom: 2rem;
        }

        h3 {
            color: var(--color-white);
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 2rem;

            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }

        ul {
            padding-left: 0rem;

            li {
                a {
                    color: var(--color-white);
                    font-size: 0.9rem;
                    font-weight: 400;
                    transition: 0.3s all;

                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 0.8rem;
                    }

                    &:hover {
                        color: var(--color-purple);
                    }
                }

                .list-img {
                    max-width: 5rem;
                }

                span {
                    text-align: left;
                }

                span,
                p {
                    padding-left: 0.5rem;
                }

                p {
                    font-size: 0.7rem;
                    font-weight: 300;
                    margin-bottom: 0.3rem;

                    &:last-child {
                        color: var(--color-purple);
                    }
                }
            }

            &.contact-list {
                li {
                    margin-bottom: 0.5rem;

                    a {
                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            &.opening-hours {
                li {
                    color: var(--color-white);
                    border-bottom: 1px solid var(--color-gray);
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.8rem;
                    font-size: 0.9rem;
                    font-weight: 400;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 0.9rem;

                        @media screen and(max-width:1024px) {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        .address {
            color: var(--color-white);
            font-size: 0.9rem;
            font-weight: 300;
            margin-top: 0rem;

            @media screen and(max-width:$xl-breakpoint) {
                font-size: 0.8rem;
            }
        }
    }

    .copyright {
        padding: 1rem 0rem;
        border-top: 0.1px solid rgba(255, 255, 255, 0.509);

        span {
            color: var(--color-white);
            font-size: 0.8rem;
        }
    }
}